
body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
 
body {
  font-family: 'century Gothic';
  background-color: #f8f9fa;
}

img { 
  object-fit: contain;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}




