body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'century Gothic';
}

#app {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

.creative {
  background-color: #f8f9fa;

}
