.black {
    background-color: #060927;
}

.cubes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: rgba(19, 96, 239, .1);
    border-radius: 0.3rem;
    width: 3.3rem;
    height: 3.3rem;
}

.cubes i {
    animation-name: movement;
    animation-duration:8s;
    animation-iteration-count: infinite;
   
}

.black h1 {
    margin-top: 3rem;
    color: #fff;
    font-size: 2.4em;
    font-weight: normal;
}

.dark-platforma {
    background: rgba(120, 126, 137, 0.02);
    display: flex;
    flex-direction: column;
    padding: 2em;
    gap: 1.5em;
} 

.platforma {
  display: flex;
}

.platforma h2 {
    text-align: center;
    color: #fff;
    font-size: 1.5em;
    margin-left: 1.5rem;
}

.desc {
    color: #8090b5;
    line-height: 1.5em;
    font-size: 1.2em;
    }

.platforma img {
    width: 4.5rem;
    object-fit: contain;
}

