.section-client {
    display: flex;
    flex-direction: column;
    background-color: #1360ef;
    padding: 4rem 0;
}
.client-bgr {
    display: none;
}
.client-column .blue-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.3rem;
    font-size: xx-large;
    background-color: #2b77e9;
    color: #fff;
}

.client-column .title {
    font-size: 2.1rem;
    line-height: 1.3;
    color: #fff;
}
.client-column .description {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}
.client-row {
    display: flex;flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}
.client-row .cards-bar {
    display: flex;
    width: 100%;
}
.card-row {
    display: flex;
    flex-direction: row;
}
.cards-bar {
    margin: 0;
    padding: 0;
}

@media(min-width: 576px){
    .visit-card {
        width: calc(100% - 2rem);
    }
    .card-column {
        flex-direction: column;
        align-items: flex-start;
        width: 385px;
        position: absolute;
        left: calc(100% - 385px);
        top: 0;
        padding: 1.5rem 0 0;
    }
}
@media(min-width: 768px) {
    .section-client {
        background-color: #f8f9fa;
        position: relative !important;
    }
    .client-bgr {
        display: flex;
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        top: -7%;
        height: 100vh;
        width: 100%;
        transform: rotate(90deg);
    }
    .visit-card {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 1.5rem 1.5rem;
        width: calc((100% - 3rem) / 2); 
        box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15) !important;
    }
    .person-img {
        width: 3.7rem;
        height: 3.7rem;
    }
    .client-column {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        z-index: 0;
    }
    .cards {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-column {
        display: flex;
        flex-direction: column;
    }

    /* .person-img {
        width: 5rem;
        height: 5rem;
    } */
    .intro {
        display: flex;
        font-size: 1.1rem;
    }
    .person-onus {
        font-size: 0.9rem;
    }
}
 @media(min-width: 992px) {
    .client-bgr {
        position: absolute;
        right: 0%;
        top: 0;
        height: 100%;
        width: 100%;
        transform: rotate(0);
    }
    .person-img {
        width: 3rem;
        height: 3rem;
    }
    .client-column {
        display: flex;
        flex-direction: column;
    }
    .visit-card {
        display: flex;
        flex-direction: row;
    }
} 
@media(min-width:1200px) {
    .person-img {
        width: 4rem;
        height: 4rem;
    }
}
@media(min-width: 1400px) {
    .person-img {
        width: 5rem;
        height: 5rem;
    }
}

   
