.section-client {
    position: relative !important;
}
.client-bgr {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.client-row {
    position: relative;
    margin: 2rem 0;

}
.icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 0.4rem;
    font-size: xx-large;
    background-color: #759bd4;
    color: #fff;
}
.icon-area i {
    color: #fff;
}
.client-column .title {
    font-size: 2.5rem;
    color: #fff;
}
.client-column .description {
    margin-bottom: 5rem;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2.2rem;
}
.client-column {
    padding: 4rem 0 0 1rem;
    margin: 0;
}

@media (max-width: 992px) {
    .transform-md-rotate {
        transform: rotate(90deg);
    }
}
