.container .creative {
    display: flex;
    align-items: center;
}
.btn-white {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'century Gothic';
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #f8f9fa;
    border-color: #1360ef;
    transition-duration:  0.6s;
    color: #1360ef;
}
.btn-white:hover {
    background-color: orangered;
    color:  #f8f9fa;
    border-color: orangered;
    transition-duration:  0.6s;
}
.icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.3rem;
    font-size: xx-large;
    background-color: #cfe2ff;
}
.icon-area i {
    color: rgb(18, 57, 222);
    animation-name: movement;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes movement {
   0% {
        transform: rotate(20deg);
      }
      33% {
        transform: rotate(400deg);
      }
      66% {
        transform: rotate(-20deg);
    }
     100% {
         transform: (300deg);
    }
}
.title {
    margin: 2vh 0;
    font-size: 2.5rem;
    font-weight: 300;
    color: #1d1d33;

}
.description {
    font-size: x-large;
    line-height: 2.5rem;
    font-size: 1.4rem;
    font-weight: 200;
    margin: 2vh 0;
    color: #8090b5;
}
.token.fa {
    padding: 0.45rem 0.3rem;
    border-radius: 0.4rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    background-color: #cfe2ff;
}
.list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #8090b5;
    line-height: 2.5rem;
    gap: 0.9rem 2rem;
    list-style-type: none;
}
.button {
    margin-top: 6vh;
}