.container .creative {
    display: flex;
    align-items: center;
}
.icon-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 0.3rem;
    font-size: xx-large;
    background-color: #cfe2ff;
}
.icon-area i {
    color: rgb(18, 57, 222);
    animation-name: movement;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes movement {
   0% {
        transform: rotate(20deg);
      }
      33% {
        transform: rotate(400deg);
      }
      66% {
        transform: rotate(-20deg);
    }
     100% {
         transform: (300deg);
    }
}
.title {
    margin: 2vh 0;
    font-size: 2.5rem;
    font-weight: 300;
    color: #1d1d33;
}
.description {
    font-size: x-large;
    line-height: 2.5rem;
    font-size: 1.4rem;
    font-weight: 200;
    margin: 2vh 0;
    color: #8090b5;
}
.button {
    margin-top: 6vh;
}
.list i {
    font-size: 0.8em;
    padding: 0.55em 0.35em;
    border-radius: 0.4em;
    margin-right: 1em;
    padding: 0.6em 0.4em;
    background-color: #cfe2ff;
    color: #1360ef;
}
ul  {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2em;
    color: #8090b5;
    line-height: 2.5rem;
    gap: 0.9 rem 2rem;
    list-style-type: none;
}
.list li {
    margin-right: 2rem;
}