.creative {
    font-family: 'century Gothic';
}

.btn-white {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.9rem 1.2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 10px;
    background-color: #f8f9fa;
    border-color: #1360ef;
    transition-duration:  0.6s;
    color: #1360ef;
}
.btn-white:hover {
    background-color: orangered;
    color:  #f8f9fa;
    border-color: orangered;
    transition-duration:  0.6s;
}
.fa {
    color: #1360ef;
    background-color:#cfe2ff ;
}
.icon-area {
    margin-bottom: 1.5vh;
    padding: 0.7rem 1.4rem;
    border-radius: 0.4rem;
    font-size: xx-large;
    background-color: #cfe2ff;
    color: #fff;
}
.title {
    font-size: 2.5rem;
    line-height: 3.4rem;
    color: #1d1d33;
}
.description {
    font-size: x-large;
    line-height: 2.4rem;
    margin: 1vh 0;
    color: #8090b5;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
    color: #8090b5;
    line-height: 2.5rem;
    gap: 0.6rem 3rem;
}
.button {
    margin-top: 3.7vh;
}
