.row { 
    display: flex;
}

.img { 
    max-width: 100%;
    height: auto;
}
 

.columy { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.h1-1 { 
    font-size: 3.3rem;
    line-height: 1.1;
   
} 



.h1-2 { 
    font-size: 3.3rem;
    color: #1360ef;
    font-family: poppins, sans-serif;
    line-height: 1.1;
 

}

.h5-1 {
    color: rgb(140, 152, 164);
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}



.badge { 
    margin-top: 2rem;
    background-color: rgba(19, 96, 239, .1);
    color: #1360ef;
    font-size: small;
   
    width: 6.7rem;
    border-radius: 0.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
     
} 

.knobs { 
     display: flex;
    
    justify-content: flex-start;
     gap: 0.3rem;
}

.btn-learn-more { 
 
   
    justify-content: center;
   width: 120px;
    height: 48px;
    font-size: 1.1rem;
    text-transform: capitalize;
    border-radius: 8px;
    background-color:#1360ef;
    border-color: #1360ef;
    transition-duration:  0.7s;
    color: #f8f9fa;

}
.btn-learn-more:hover {
    background-color: orangered;
    border-color: orangered;
    transition-duration:  0.7s;
}




.btn-get-started{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 48px;
    font-size: 1.1rem;
    text-transform: capitalize;
    border-radius: 8px;
    background-color: #f8f9fa;
    border-color: #1360ef;
    transition-duration:  0.7s;
    color: #1360ef;


}
.btn-get-started:hover {
    background-color: orangered;
    color:  #f8f9fa;
    border-color: orangered;
    transition-duration:  0.7s;
}





