.header {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #f8f9fa;
    transition: all 0.5s;
}
.no-margin-bottom {
    margin-bottom: 0;
}
.header .header-content {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    transition: all 0.5s;
}

.header-fixed {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15) !important;
    top: 0%;
    left: 0%;
    width: 100%;
    animation: 200ms linear show-header;
}
@keyframes show-header {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.header .logo {
    display: flex;
    padding: 0.5rem 0;
    font-size: 2.2rem;
    text-transform: capitalize;
    text-decoration: none;
}
.startlogo {
    color: #1d1d33;
    text-decoration: none;
}
.header .logo .endlogo {
    color: #1360ef;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
}
.header .main-nav {
    display: none;
    align-items: center;
    gap: 3rem;
}
.main-nav a:first-child {
    color: #1360ef;
}
.main-nav a:hover {
    color: #1360ef;
    transition: 0.6s;
}
.header .link {
    font-size: 1.1rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bolder;
    color: #1d1d33;
}
.header .hamburger {
    font-size: 2rem;
    padding: 0.3rem 0.45rem;
    color: #495057;
    background-color: #fff;
    border: 5px solid #495057;
}
.btn-blue {
    display: none;
}
 
@media (min-width: 768px) {
    .btn-blue {
        display: flex;
        margin-left: 2rem;
    }
} 
@media (min-width: 992px) {
    .hamburger {
        display: none;
    }
    .header .main-nav {
        display: flex;
    }
    .header .header-content {
        justify-content: flex-end;
        gap: 3rem;
    }
    .header .logo {
        margin-right: auto;
    }
    .mobile-main-header {
        display: none;
    }
}
/* box-shadow: 0 10px 55px 5px rgba(137, 173, 255, .15) !important; */

.mobile-main-header {
    position: static;
    background-color: lightblue;
    padding: 1.2rem;
    border-radius: 0.5em;
    translate: 0 -10%;
    transition: all 1s;
    display: none;
}
.mobile-main-header.show {
    display: flex;
}
.mobile-main-header .main-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.mobile-main-header a:first-child {
    color: #1360ef;
}   
.mobile-main-header a:hover {
    color: #1360ef;
    transition: 0.6s;
} 

