.visit-card {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-left: 1rem;
    margin: 1rem;
    background-color: #fff;
    border-radius: 0.4rem;
    box-shadow:  0rem 0.5rem 1rem rgba(111, 0, 255, 0.022);
    position: relative; 
}
.person-img {
    margin: 1.5rem 1rem 1.5rem 0.5rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(111, 0, 255, 0.151);
}
.intro {
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 1rem;
    color: #8090b5;
}
.person-name {
    padding-right: 0.4rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #1360ef;
}
.person-onus {
    font-size: 0.9rem;
    color: #8090b5;
}
.person-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.5rem;
    align-items: first baseline;
}

