.client-row {
    align-items: center;
}
.visit-card {
    display: flex;
    margin: 1rem 0 1rem 1.5rem;
    background-color: #fff;
    border-radius: 0.4rem;
}
.person-img {
    margin: 1.5rem 1rem 4rem 1.5rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0.5rem 1rem rgba(110, 0, 255, .15);
}
.card-column {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem 0.5rem;
}
.intro {
    font-size: 1.1rem;
    color: #8090b5;
}
.person-row {
    display: flex;
    flex-wrap: wrap;
    align-items: first baseline;
    margin-top: 1rem;
}
.person-name {
    padding-right: 0.4rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: #1360ef;
}
.person-onus {
    color: #8090b5;
}
